/*  _____________________________________________________________________________

     FONT
    _____________________________________________________________________________  */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_regular_english/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular_english/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_regular_english/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/roboto_regular_english/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto_regular_english/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_italic_english/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto_italic_english/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_italic_english/Roboto-Italic-webfont.woff') format('woff'),
    url('../fonts/roboto_italic_english/Roboto-Italic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_italic_english/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_bold_english/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto_bold_english/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_bold_english/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/roboto_bold_english/Roboto-Bold-webfont.ttf') format('truetype'),
    url('../fonts/roboto_bold_english/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_thin_english/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto_thin_english/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_thin_english/Roboto-Thin-webfont.woff') format('woff'),
    url('../fonts/roboto_thin_english/Roboto-Thin-webfont.ttf') format('truetype'),
    url('../fonts/roboto_thin_english/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License).
font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_light_english/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto_light_english/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_light_english/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/roboto_light_english/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/roboto_light_english/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_medium_english/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto_medium_english/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_medium_english/Roboto-Medium-webfont.woff') format('woff'),
    url('../fonts/roboto_medium_english/Roboto-Medium-webfont.ttf') format('truetype'),
    url('../fonts/roboto_medium_english/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
/*  _____________________________________________________________________________

     RESET
    _____________________________________________________________________________  */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    font-family: 'Roboto';
    line-height:1;
    color:#141414;
    line-height:1;
    background-color:#fbfbfb;
    margin: 15px;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #e5e5e5;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*  _____________________________________________________________________________

     TYPOGRAPHY
    _____________________________________________________________________________  */

p h1, h2, h3, h4, h5, h6{font-family: 'Roboto';}
p{font-size:14px; line-height:24px; color:#000;}
h1{ font-size:2em;font-weight:500; line-height:Auto; font-weight: normal   font-style: normal;}
h2{font-size:16px;  line-height:Auto; font-weight: 100;  }
h3{font-size:18px;  line-height:Auto; font-weight: 400; }
h4{font-size:20px;  line-height:Auto; font-weight: 400; }
.font-small{font-size:12px;}
.font-medium{font-size:30px;}
.font-large{font-size:16px;}
.medium-weight{font-weight: 100;}

.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.lowercase{text-transform:lowercase;}


.light-blue{color:#3a9ecf;}
.black{color:#000;}
.grey{color:#333;}
.white{color:#FFF;}

.bold{font-weight:bold;}
.no-underline{text-decoration:none;}

.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}
.justify{text-align:justify;}

.middle{vertical-align: middle;}


/*  _____________________________________________________________________________

     BACKGROUND
    _____________________________________________________________________________  */
.grey-bg{ background-color:#ececec;}
.light-grey-bg{  background-color:#f5f5f5 ; }
.white-bg{background-color:#fff;}
.off-white{background-color:#3a9ecf;}
/*  _____________________________________________________________________________

     Main
    _____________________________________________________________________________  */
.main_container{
    background:#fbfbfb;
    margin:auto;
    position:static;
    width:100%;
    float: left;
}
.date{font-size:47px; font-weight: 100; color: #141414;  }
.time{font-size:82px; font-weight: 100; color: #141414;  }
.title-wrapper{ background-image: url("../images/title-wrapper.png"); background-repeat: no-repeat; padding:10px; font-size: 32px; color: #fff; }
.title-hr{width: 100%; height: 5px; background-color: #282828;}
hr{background-color:#e5e5e5; }

/*  ____________________________________________________________________________

     COLUMNS
    _____________________________________________________________________________  */

.col-row{width: 100%;  height: 100px;}
.col-row-footer{width: 100%;  height: 100px; margin:0 auto;}
.col-x-large{width:100%; }
.col-large{width:75%; }
.col-medium{width:50%; }
.col-small{width:25%; }
.col-x-small{width:10%; }


.col-1{width:5%; }
.col-2{width:12%; }
.col-3{width:13%; }
.col-4{width:55%; }

.col-date{width:8%;}
.col-image{width:5%;}
.col-summary{width:50%;}
.col-place{width:15%;}
.col-time{width:10%;}

/*  ____________________________________________________________________________

     padding-margin
    _____________________________________________________________________________  */
.padding-left {padding-left:10px;}
.padding-right  {padding-right:10px;}
.padding-top  {padding-top:10px;}
.padding-bottom  {padding-bottom:10px;}
.padding{padding:10px;}
.padding-none{ padding:0px !important;}

.padding-left-double {padding-left:20px;}
.padding-right-double  {padding-right:20px;}
.padding-top-double  {padding-top:20px;}
.padding-bottom-double  {padding-bottom:20px;}
.padding-double{padding:20px;}

.margin-left {margin-left:10px;}
.margin-right  {margin-right:10px;}
.margin-top  {margin-top:10px;}
.margin-bottom  {margin-bottom:10px;}
.margin{margin:10px;}


.margin-left-double {margin-left:20px;}
.margin-right-double  {margin-right:20px;}
.margin-top-double  {margin-top:20px;}
.margin-bottom-double  {margin-bottom:20px;}
.margin-double{margin:20px;}

.float-left{float:left;}
.float-right{float:right;}
.clear{ clear:both;}

.inline-block{display: inline-block;}
.relative{ position:relative;}

.border-bottom{border-bottom: 1px solid #efefef;}

.text-right{text-align: right;}
.text-left{text-align: left;}


.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    /* width and height can be anything, as long as they're equal */
    margin-top: 10px;
    margin-right: 10px;
    position: fixed;
    left: 470px;
    top: 80px;
}

sup {font-size:24px; vertical-align:super;}

.blue-bg{background-color: #3a9ecf !important;}
.green-bg{background-color: #5CBA2E !important;}
.red-bg{background-color: #CF4B3A !important;}

footer { position: absolute;width: 100%; left: 0; background-color: #141414;
    bottom: 0; overflow: hidden;}

.center-row{margin: 0 auto;
  width: 70%;}
