/*  _____________________________________________________________________________

	 FONT
    _____________________________________________________________________________  */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_regular_english/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular_english/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_regular_english/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/roboto_regular_english/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto_regular_english/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_italic_english/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto_italic_english/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_italic_english/Roboto-Italic-webfont.woff') format('woff'),
    url('../fonts/roboto_italic_english/Roboto-Italic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_italic_english/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_bold_english/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto_bold_english/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_bold_english/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/roboto_bold_english/Roboto-Bold-webfont.ttf') format('truetype'),
    url('../fonts/roboto_bold_english/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_bolditalic_english/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_thin_english/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto_thin_english/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_thin_english/Roboto-Thin-webfont.woff') format('woff'),
    url('../fonts/roboto_thin_english/Roboto-Thin-webfont.ttf') format('truetype'),
    url('../fonts/roboto_thin_english/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_thinitalic_english/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License).
font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_light_english/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto_light_english/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_light_english/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/roboto_light_english/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/roboto_light_english/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_lightitalic_english/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_medium_english/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto_medium_english/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_medium_english/Roboto-Medium-webfont.woff') format('woff'),
    url('../fonts/roboto_medium_english/Roboto-Medium-webfont.ttf') format('truetype'),
    url('../fonts/roboto_medium_english/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_mediumitalic_english/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

body{
    background:#f9f9f9;}

/* application top level header */
h2.app-title {
	font-weight:100;
	font-size:20px;
	margin:0;
	padding:0;
	color:#fff;
}

.wr-global-header {
	background:#282828;
}

.app-logo {
	height:50px;
	padding:12px 10px;
}

.app-logo a {
    text-decoration: none;
}

.app-logo img {
	float:left;
	margin-right:20px;
}

@media (max-width: 768px) {
    .app-logo {
        padding: 16px 10px;
    }
    .app-logo img {
        width: 50px;
        height: auto;
        margin-right:10px;
    }
    h2.app-title {
        font-size: 17px;
    }
}

.wr-app-bar {
	background:#3a9ecf;
	height:53px;    
}

header {
	height:50px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

/* authentication */
/*
.wr-secondary-links, .wr-auth {
	padding-top:0px;
}
*/

.auth-user {
	display:none;
}

.wr-auth-container {
	padding-right:0px;
}

.auth-img {
	float: left;
	display:inline-block;
	border-left:1px solid #9bb6f6;
	height:50px;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
	color:#fff;
	text-decoration: none;
}

.auth-img:hover {
	background:#86a7f4;
}

.auth-img img {
	margin-left:5px;
}

.auth-img span {
	display:inline-block;
	padding-top:8px;
}

/* sticky footer styles */
.footer {  height: 40px; background-color: #fff; padding-top:5px; color:#444;font-weight: 100; padding-left:20px;font-size:12px;letter-spacing: 1px}

/* misc */
br.c-both {	clear:both;}

.register {
    width:auto;
    height:40px;
    background-image:url(../images/icons/rigister.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    padding-left:42px!important;
    color:#fff!important
}

a.register:hover {
    width:auto;
    background-image:url(../images/icons/rigister-hover.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    background-color:#282828!important;
    color:#3a9ecf!important;
    padding-left:42px!important
}

a.register:active {
    width:auto;
    background-image:url(../images/icons/rigister-hover.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    background-color:#282828!important;
    color:#3a9ecf!important;
    padding-left:42px!important
}

a.register:focus {
    width:auto;
    background-image:url(../images/icons/rigister-hover.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    background-color:#282828!important;
    color:#3a9ecf!important;
    padding-left:42px!important
}

.login {
    width:auto;
    height:40px;
    background-image:url(../images/icons/login.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    padding-left:42px!important;
    color:#fff!important
}

a.login:hover {
    width:auto;
    background-image:url(../images/icons/login-hover.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    background-color:#282828!important;
    color:#3a9ecf!important;
    padding-left:42px!important
}

a.login:active {
    width:auto;
    background-image:url(../images/icons/rigister-hover.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    background-color:#282828!important;
    color:#3a9ecf!important;
    padding-left:42px!important
}

a.login:focus {
    width:auto;
    background-image:url(../images/icons/rigister-hover.png)!important;
    background-repeat:no-repeat;
    background-position:left;
    background-color:#282828!important;
    color:#3a9ecf!important;
    padding-left:42px!important
}

.more {
    color:#000;
    float:right;
    background-image:url(../images/icons/more-icon.png)!important;
    background-position:center left;
    background-repeat:no-repeat;
    text-transform:uppercase;
    padding:23px 3px 20px 36px !important
}

a.more:hover {
    color:#3a9ecf;
    text-decoration:none;
    background-image:url(../images/icons/more-icon-hover-blue.png)!important;
    background-position:center left;
    background-repeat:no-repeat
}

a.more:active {
    background-color:none
}

a.more:focus {
    border:none
}

.search-area {
    width:40%;
    height:45px !important;
    padding-left:10px;
    float:left;
    margin-top:4px
}

.back-button {
    background:none repeat scroll 0 0 #333;
    border:0 none;
    color:#fff;
    float:left;
    height:45px;
    padding-left:10px;
    padding-right:10px;
    width:122px;
    margin-top:5px
}

.title {
    width:auto;
    padding:0 20px;
    height:59px;
    border-bottom:3px solid #3a9ecf;
    float:left;
    padding-top:14px;
    font-size:22px
}

hr {
    float:left;
    width:100%;
    margin:0
}

.truncate {
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.truncate-text {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.asset-item-wrapper {
    min-width:190px!important;
    height:auto;
    float:left;
    margin:30px 20px;
    border:1px solid #d8d8d8;
    padding:0!important
}

.asset-item-icon {
    height:150px;
    float:left;
    overflow:hidden
}
.more-list {
    background-image:url(../images/icons/list-more-icon.png)!important;
    background-position:center center;
    background-repeat:no-repeat;
    float:right;
    height:58px!important;
    opacity:.5;
    margin-right:-15px!important;
    margin-top:-17px!important;
    padding-right:22px!important;
    width:37px!important
}

a.more-list:hover {
    background-color:#cccccc!important;
    background-image:url(../images/icons/list-more-icon.png)!important;
    background-position:center center!important;
    background-repeat:no-repeat!important;
    float:right;
    height:58px!important;
    opacity:.5;
    margin-right:-15px!important;
    margin-top:-17px!important;
    padding-right:22px!important
}
.wr-filter-category {float:left;}
.list-image{float: left; margin:0.2%; width: 3%;}
.list-td{ padding-top: 1%; }
.overflow{overflow: hidden; height:729px;}
.ro-text {  visibility: visible;  }
.ro-search{visibility: hidden; display: none; }
/*  _____________________________________________________________________________

	 TYPOGRAPHY & COLOR
    _____________________________________________________________________________  */

p h1, h2, h3, h4, h5, h6{font-family: 'Roboto' !important;}

.font-small{font-size:12px;}
.font-medium{font-size:14px;}
.font-large{font-size:16px;}
.font-extra-large{font-size:20px !important;}

.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.lowercase{text-transform:lowercase;}


.blue-bg{background-color: #3a9ecf !important;}
.grey-bg{background-color: #222222 !important;}
.off-white-bg{}

.light-blue{color:#3a9ecf;}
.black{color:#000;}
.grey{color:#333;}
.white{color:#FFF;}

.bold{font-weight:bold;}
.no-underline{text-decoration:none;}

.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}
.justify{text-align:justify;}

.middle{vertical-align: middle;}

/*  ____________________________________________________________________________

	 COLUMNS
    _____________________________________________________________________________  */

.col-row{width:100%; float:left; }
.col-x-large{width:80%; }
.col-large{width:75%; }
.col-medium{width:50%; }
.col-small{width:25%; }
.col-x-small{width:20%; }

/*  ____________________________________________________________________________

	 PADDING & MARGIN
    _____________________________________________________________________________  */
.padding-left {padding-left:10px;}
.padding-right  {padding-right:10px;}
.padding-top  {padding-top:10px;}
.padding-bottom  {padding-bottom:10px;}
.padding{padding:10px;}
.padding-none{ padding:0px !important;}

.padding-left-double {padding-left:20px;}
.padding-right-double  {padding-right:20px;}
.padding-top-double  {padding-top:20px;}
.padding-bottom-double  {padding-bottom:20px;}
.padding-double{padding:20px;}

.margin-left {margin-left:10px;}
.margin-right  {margin-right:10px;}
.margin-top  {margin-top:10px;}
.margin-bottom  {margin-bottom:10px;}
.margin{margin:10px;}
.margin-none{margin: 0px !important;}

.float-left{float:left;}
.float-right{float:right;}
.clear{ clear:both;}

.relative{ position:relative;}


/*  _____________________________________________________________________________

	 LOGIN & REGISTER
    _____________________________________________________________________________  */

.boarder-bottom-blue{border-bottom: 3px solid #006596;}
input::-moz-placeholder, textarea::-moz-placeholder  {
    padding: 10px 5px 12px 8px;
    color: #aba8a8;
    font-size: 18px;
}
input::-webkit-input-placeholder{

    color: #aba8a8;
    font-size: 18px;
}
input:-ms-input-placeholder{
    padding: 10px 5px 12px 8px;
    color: #aba8a8;
    font-size: 18px;
}
input {
    border: 1px solid #d2d2d2;
    padding: 10px 5px 12px 8px;
    height: 50px !important;
}
.boarder-all{border: 1px solid #d8d8d8; background: #FFF;}